{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<hr>
<div class="row justify-content-md-center">
  <aside class="col-md-6">
    <div class="card">
      <article class="card-body">
        <h3 class="card-title mb-4 mt-1">Check if IP Address is public</h3>
        <form action="{{ url_for('index') }}" method="post" novalidate>
            <div class="form-group">
              {{ form.address(placeholder='Enter The IP Address', class_='form-control')}}
            </div> <!-- form-group// -->
            <div class="form-group">
                {{ form.submit(class_='btn btn-primary')}}
                {{ form.csrf_token }}
            </div> <!-- form-group// -->
          </form>

          {% if result %}
          <hr>
          <!-- CIDR -->
            {% if result.type == 'CIDR' %}
            <div class="alert alert-{{ result['status'] }}" role="alert">
              {{result.message}}
            </div>
                <div class="text-left">
                  {% for key,value in (result.info).items() %}
                    <dt>{{key}}</dt>
                    <dd>{{value}}</dd>
                  {% endfor %}
                </div>
          <!-- IPv4 -->
            {% elif result.type == 'IPv4' or result.type == 'IPv6' %}
            <div class="alert alert-{{ result['status'] }}" role="alert">
              {{ip}} {{result.message}}
            </div>
            {% endif %}
            <div class="text-left">
            {% if result.status == 'warning' %}
                {% include 'private.html' %}
              {% endif %}
              {% if result.status == 'success' %}
                {% include 'public.html' %}
              {% endif %}
            </div>
          {% endif %}
      </article>
    </div> <!-- card.// -->
  </aside> <!-- col.// -->
</div>
{% endblock %}
