<p>A private IP address is the address space allocated by InterNIC to allow organizations to create their own private network.
                There are three IP blocks (1 class A, 1 class B and 1 class C) reserved for a private use.
                The computers, tablets and smartphones sitting behind your home,
                and the personal computers within an organizations are usually assigned private IP addresses.
                A network printer residing in your home is assigned a private address so that only your family can print to your local printer.</p>

              <p>When a computer is assigned a private IP address, the local devices see this computer via it's private IP address.
                However, the devices residing outside of your local network cannot directly communicate via the private IP address,
                but uses your router's public IP address to communicate. To allow direct access to a local device which is assigned a private IP address, a Network Address Translator (NAT) should be used.</p>
